a {
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-width: 100%;
}

.main {
  background-color: #fff;
  padding-top: 20px;
}

header .container {
  padding: 0;
}

header .header-btns {
  display: flex;
  align-items: center;
}

.nav-tooggle {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  flex-direction: column;
}

.nav-tooggle span {
  width: 20px;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
}

.nav-tooggle span:first-child {
  margin-top: 0px;
}

.header-top {
  background-color: #f72210;
  padding: 20px 10px 15px;
  color: #fff;
}

.header-top .logo svg {
  fill: #fff;
  width: 396px;
}
.header-top .sign {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}

.header-top .subscribe {
  color: #f72210;
  background-color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

.header-top .subscribe .fas {
  padding-right: 10px;
}

.header-menu {
  border-bottom: 2px solid #f4f5f6;
  background-color: #fff;
}

.header-menu .navbar-nav {
  width: 100%;
}

.header-menu .navbar-nav .nav-item {
  border-left: 1px solid #d9d9d9;
  text-align: center;
  flex-grow: 1;
}

.header-menu .navbar-nav .nav-item .form-inline{
  justify-content: center;
}

.header-menu .navbar-nav .nav-item .form-inline input{
  width: 68px;
  padding: 0;
  border: 0;
  margin-right: 0!important;
}
.header-menu .navbar-nav .nav-item .form-inline .btn{
  font-size: 18px;
  color: #111;
  padding: 0;
  margin-left: -12px;
}

.header-menu .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  color: #000;
}

.header-menu .navbar-nav .nav-item:first-child {
  border-left: 0;
}

.block .wrap {
  position: relative;
  margin-bottom: 10px;
}

.block article {
  padding-bottom: 20px;
}

.block-title {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(12,11,11,.8);
  font-size: 16px;
  padding-bottom: 11px;
}

.cl-red {
  color: #f72210
}

.block .block-title {
  color: rgba(3,3,3,.4);
}

.feature .category {
  position: absolute;
  bottom: 0;
  color: #f72210;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  z-index: 1;
}
.sponsor .category {
  position: absolute;
  bottom: 0;
  color: #3581f4;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
}

.sponsor .wrap {
  margin-bottom: 0;
}

.sponsor .info {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px;
}

.block   .wrap .image img {
  width: 100%;
}
.block h3 {
  font-size: 20px;
  font-weight: bold;
}

.summary {
  font-size: 14px;
}
.related h4 {
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

.story {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ddd;
}
.story img {
  float: left;
  margin-right: 15px;
}
.story h4 {
  font-size: 17px;
  font-weight: bold;
}

.subfeature .image {
  margin-right: 15px;
}
.subfeature .info {
  font-size: 15px;
  font-weight: bold;
}

.subfeature li:first-child {
    border-top: 0;
    padding-top: 0;
}

.subfeature li {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.byline {
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}

.block .title {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  justify-content: center;
}

.section-picks .block-title {
    border-top: 1px solid #d9d9d9;
    color: #f72210;
    padding-top: 25px;
    font-size: 22px;
    line-height: 22px;
    text-transform: none;
    font-weight: bold;
}

.section-picks article h4 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
}

.block .title .icon {
  -webkit-flex: none;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
  position: relative;
}


.picture-galleries .title .icon::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.picture-galleries .title  {
  padding-bottom: 12px;
}

.picture-galleries .count-link {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  bottom: 0;
  color: #e9212e;
  display: block;
  height: 52px;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  position: absolute;
  text-align: center;
  text-indent: 5px;
  width: 70px;
}
.picture-galleries h4 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.magazine .image img {
  height: 289px;
  width: 100%;
}

.magazine article .category {
  font: bold 16px/26px "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.magazine article .category span:first-of-type {
  padding: 6px 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

.magazine h5 {
  font-weight: bold;
}

.picture-galleries .image {
  margin-bottom: 20px;
}

.subscribe-block {
  margin-bottom: 40px;
}
.subscribe-block .col {
  padding: 30px;
  background-color: #f4f5f6;
}

.subscribe-block .mag-thumb.current {
  left: 80px;
  position: absolute;
  top: 13px;
}

.subscribe-block .col .info {
  padding-left: 30px;
}

.subscribe-block .col .image {
  padding-bottom: 13px;
  padding-right: 90px;
  position: relative;
}

.subscribe-block .newsletter .image {
  flex: 1;
}

.subscribe-block::before {
  left: -30px;
  right: -30px;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.subscribe-block .newsletter .info {
  border: 1px solid #ebebeb;
  flex: 1;
  padding: 30px;
}

.flex {
  display: flex;
  height: 100%;
}
.image {
  position: relative;
}

.jc-sb {
  justify-content: space-between;
}

.ai-fe {
  align-items: flex-end;
}

.footer {
  background-color: white;
  border-top: 2px solid #f4f5f6;
  padding: 30px;
}

.footer .brand svg {
  display: block;
  fill: #f72210;
  height: 36px;
  margin-bottom: 12px;
  margin-right: 15px;
  width: 236px;
}

.footer .copyright {
  color: #666;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footer .footer-links {
  border-top: 1px solid #d9d9d9;
  padding-top: 6px;
  font-size: 14px;
  line-height: 15px;
  color: #666;
}

.footer .footer-links li {
  border-right: 1px solid #d9d9d9;
  display: inline-block;
  margin: 6px 0;
  margin-right: 10px;
  padding-right: 10px;
}

.footer .social {
  color: #666;
}

.footer .social li{
  margin-left: 8px;
}

.footer .social i {
  font-size: 22px;
}

.aligns-item-end {
  align-items: flex-end;
}

.flex-xs {
  display: flex;
}

@media (min-width: 1200px){
  .container {
      max-width: 1310px;
  }
}
@media (min-width: 769px){
  .nav-tooggle {
    display: none;
  }

  .flex-sm {
      display: flex;
  }
}
@media (max-width: 768px){

  .header-top {
    align-items: center;
    padding: 0 10px;
  }

  .header-top .date {
    display: none;
  }

  .header-top .logo svg {
    width: 130px;
  }

  .header-menu {
    display: none;
  }

  .header-top .subscribe {
    padding: 0 10px;
  }

  .subscribe-block .image {
    height: 160px;
    margin-bottom: 15px;
  }
}
